.aboutMe {
  display: flex;
  justify-content: center;
  align-items: center;
}
.details {
  width: 60%;
  color: var(--text-color-a);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 40px;
}

.details > h3 {
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(2, 104, 96);
}

.details > p {
  opacity: 0.7;
  width: 80%;
}

.details > button {
  font-family: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 13em;
  height: 2.8em;
  line-height: 2.5em;
  margin: 20px;
  margin-left: 0px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid var(--text-color-a);
  background-color: var(--primary-color);
  transition: color 0.5s;
  opacity: 0.8;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--text-color-a);

}

.details > button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--text-color-a);
  height: 150px;
  width: 300px;
  border-radius: 50%;
}

.details > button:hover {
  color: var(--header-bg-color);
}

.details > button:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.details > button:hover:before {
  top: -30px;
  left: -30px;
}

.details > button:active:before {
  background: #3a0ca3;
  transition: background 0s;
}


.details > button svg {
  margin-right: 4px;
  stroke: var(--text-color-a);
  transition: stroke 0.5s;
}

.programmerImg {
  background-image: var(--aboutMe-developer-img);
  background-repeat: no-repeat;
  transition: 0.5s;
  height: 500px;
  width: 600px;
  margin-right: 40px;
  animation: 2s updown ease-in-out infinite;
}

.typing {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  font-size: 50px;
}

.typing::after {
  content: "";
  position: absolute;
  right: -4px;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: #ffffff;
  animation: cursorBlink 0.7s steps(1) infinite;
}


@media (max-width: 700px) {
  .aboutMe {
    display: block;
    width: auto;
        margin: 10px;
        padding: 20px;

  }

  .details {
    width: 100%;
    display: block;
    text-align: center; 
    margin: 0px;
    padding: 0px;
  }

  .details p {
    width: 100%;
  }

  .details > button {
    margin: auto;
    margin-top: 30px;
  }

  .programmerImg {
    margin: 0px;
    padding: 0px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: -60px;
  }

  .typing {
    font-size: 25px;
  }
}

@keyframes cursorBlink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}



@keyframes updown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
